*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
}
li{
    cursor: pointer;
    margin: 5px 10px;
}
div{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img, #pesquisa{
    width: 500px;
}
#pesquisa{
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid #ccc;
}
li:hover{
    text-decoration: underline;
}
@media(max-width: 550px){
    img, #pesquisa{
        width: 300px;
}